################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bruhgame/v15/Browse.VC.db
/.vs/bruhgame/v15
/.vs
